%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-right"
  %h4.featurette-heading Freedom Tracker
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-left"
  %h4.featurette-heading Compass
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-right"
  %h4.featurette-heading PacMan AI
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-left"
  %h4.featurette-heading Disney ImagiNations 2013
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-right"
  %h4.featurette-heading EEG Signal Processing Circuit
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-left"
  %h4.featurette-heading AM Radio Circuit
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-right"
  %h4.featurette-heading RSF Aid
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-left"
  %h4.featurette-heading Logo Language Interpreter
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-right"
  %h4.featurette-heading Fast Matrix Multiplication
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-left"
  %h4.featurette-heading Game Tree Search
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

        
%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-right"
  %h4.featurette-heading Hadoop
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info

%div.featurette
  = image_tag "freedomtracker.jpg", :class => "featurette-image pull-left"
  %h4.featurette-heading Game Tree Search
  %p.featurette-info
    Partnered with Freedom House to develop a machine learning web scraper that identified hate speech articles online, correlating them to hate violence events, that allowed Freedom House to better monitor situations in areas of interest like the Muslim/Christian conflict in Nigeria.

  %div.btn.disabled more info
